<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= startingContent %></p>
<% posts.forEach(post => { %>
    <% const preview = post.content.substring(0,80) + "..."; %>
    <h2><%= post.title %></h2>
    <p>
        <%= preview %>
        <a href="/posts/<%=post.title%>">Read More</a>
    </p>
<% }); %> 

<%- include("partials/footer") -%>
